html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html,body{
    margin: 0;
    padding:0;
}

body {
    background: #333;
    color: #ccc;
    font-family: calibri,sans-serif;
}

h1 {
    background: #444;
    margin: 0;
    padding: 8px;
}

a {
    color: white;
}

progress{
    border-radius:0;
}
progress[value]::-webkit-progress-value {
    background-color: aqua;
}

hr {
    background: none;
    border: none;
    border-top: 1px solid #222;
    border-bottom: 1px solid #444;
}

code {
    font-family: consolas,monospace;
    color: orange;
    font-size: .9em;
}

#nav {
    padding:8px;
}

#nav li {
    margin: 0 8px 0 0;
    display: inline-block;
}

#nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#content{
    padding:8px;
}

.chunk{
    width:300px;
    margin: 8px;
    display:inline-block;
    vertical-align:top;
}

.chunk h3{
    color:aqua;
}

.stat {
    background: #444;
    display: inline-block;
    padding: 8px;
    font-size:1.2em;
}

.info {
    color: skyblue;
}

.success {
    color: chartreuse;
}

.error {
    color: red;
}

.img-view {
    width: 200px;
    height: 272px;
    display: inline-block;
    text-align: center;
    border: 1px solid #444;
    margin: 4px 2px;
}

.img-view label {
    color: aqua;
    font-size: .9em;
}

.img-view .details {
    font-size:.8em;
}

.dropzone {
    min-height: 400px !important;
    padding: 20px 20px !important;
    background: #444 !important;
    border: 1px dashed aqua !important;
}